@model DomainEntities.Products

@{
    ViewBag.Title = "Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="productContainer">
    <div class="card">
        <div class="card-header">
            <h3>Products</h3>
        </div>
        <div class="card-body">

            <ul class="nav nav-tabs" id="tabProduct">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Product"><h5><span id="spnProduct">Product</span></h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Attribute"><h5><span id="spnAttribute"> Attribute</span></h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#AttributeValue"><h5><span id="spnAttributeValue"> Attribute Value</span></h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#SKU"><h5><span id="spnSKU"> SKU</span></h5></a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane container active" id="Product">
                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <label for="lblProductName">Product Name <span class="mandatory">*</span></label>
                                    <input type="text" class="form-control" id="txtProductName" placeholder="Enter Product Name" maxlength="50" data-bind="value:ProductName">

                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <label for="lblProductDescription">Description </label>
                                    <input type="text" class="form-control" id="txtProductDescription" placeholder="Enter Description" maxlength="50" data-bind="value:ProductDescription">

                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <label for="lblIsActive">Is Active <span class="mandatory">*</span></label>
                                    <input type="checkbox" class="form-control check margin-top-10" data-bind="checked: IsProductActive" />
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                                <button class="btn btn-primary pull-right margin-top-25" data-bind="click:clearProductForm" id="btnResetProduct">Reset</button>
                                <button class="btn btn-primary pull-right margin-top-25 margin-right-10" data-bind="click:saveProduct" id="btnSaveProduct">Next</button>

                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <table class="table table-responsive table-hover" style="display:table; width:100%;">
                            <thead style="border-top:none !important;border-bottom:2px solid #0094ff !important; width:100%;">
                                <tr>
                                    <th style="border-top:none !important;"><h6><b>Serial No</b></h6></th>
                                    <th style="border-top:none !important;"><h6>Product Name</h6></th>
                                    <th style="border-top:none !important;"><h6>Description</h6></th>
                                    <th style="border-top:none !important;"><h6>Is Active</h6></th>
                                    <th style="border-top:none !important; text-align:center;" colspan="2"><h6>Action</h6></th>

                                </tr>
                            </thead>
                            <tbody data-bind="foreach: ProductArray" style="width:100%;">
                                <tr>
                                    <td>
                                        <span data-bind="text:($index() + 1)" />
                                    </td>
                                    <td>
                                        <span data-bind="text:ProductName" class="text-capitalize"></span>
                                    </td>
                                    <td>
                                        <span data-bind="text:ProductDescription" class="text-capitalize"></span>
                                    </td>

                                    <td>
                                        <span data-bind="text:IsProductActive==true?'Yes':'No'" class="text-capitalize"></span>
                                    </td>

                                    <td>
                                        <a class="btn btn-primary bg-red-btn pull-right" data-bind="click:$root.UpdateProduct">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary bg-red-btn pull-left" data-bind="click:$root.NextAttribute">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane container fade" id="Attribute">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <label for="lblAttributeName">Attribute Name <span class="mandatory">*</span></label>
                                    <input type="text" class="form-control" id="txtAttributeName" placeholder="Enter Attribute Name" maxlength="50" data-bind="value:OptionName">

                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <label for="lblAttributeDescription">Description </label>
                                    <input type="text" class="form-control" id="txtAttributeDescription" placeholder="Enter Description" maxlength="50" data-bind="value:OptionDescription">

                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
                                <div class="form-group">
                                    <label for="lblIsActive">Is Active <span class="mandatory">*</span></label>
                                    <input type="checkbox" class="form-control check margin-top-10" data-bind="checked: IsOptionActive" />
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 pull-right">

                                <button class="btn btn-primary pull-right margin-top-25" data-bind="click:clearProductForm" id="btnResetAttribute">Reset</button>
                                <button class="btn btn-primary pull-right margin-top-25 margin-right-10" data-bind="click:NextOptionValue" id="btnNextOptionValue">Next</button>
                                <button class="btn btn-primary pull-right margin-top-25 margin-right-10" data-bind="click:saveAttribute" id="btnSaveAttribute">Save</button>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-responsive table-hover" style="display:table; width:100%;">
                            <thead style="border-top:none !important;border-bottom:2px solid #0094ff !important; width:100%;">
                                <tr>
                                    <th style="border-top:none !important;"><h6><b>Serial No</b></h6></th>
                                    <th style="border-top:none !important;"><h6>Attribute Name</h6></th>
                                    <th style="border-top:none !important;"><h6>Description</h6></th>
                                    <th style="border-top:none !important;"><h6>Is Active</h6></th>
                                    <th style="border-top:none !important; text-align:center;" colspan="2"><h6>Action</h6></th>

                                </tr>
                            </thead>
                            <tbody data-bind="foreach: AttributeArray" style="width:100%;">
                                <tr>
                                    <td>
                                        <span data-bind="text:($index() + 1)" />
                                    </td>
                                    <td>
                                        <span data-bind="text:OptionName" class="text-capitalize"></span>
                                    </td>
                                    <td>
                                        <span data-bind="text:OptionDescription" class="text-capitalize"></span>
                                    </td>

                                    <td>
                                        <span data-bind="text:IsOptionActive==true?'Yes':'No'" class="text-capitalize"></span>
                                    </td>

                                    <td>
                                        <a class="btn btn-primary bg-red-btn pull-right" data-bind="click:$root.UpdateOption">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary bg-red-btn pull-left" data-bind="click:$root.NextOptionValue">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane container fade" id="AttributeValue">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <label for="lblAttributes">Attribute <span class="mandatory">*</span></label>
                                    <select id="ddlAttribute" name="ddlAttribute" class="selectpicker form-control" data-live-search="true" data-bind="selectPicker:true, options:AttributeArray, value:SelectedAttribute,optionsText:'OptionName',optionsValue:'OptionID', optionsCaption:'-- Select Attribute --'"></select>
                                    @*<select id="ddlRole" class="selectpicker form-control" data-live-search="true" data-live-search-style="begins" data-bind='options: RoleArray, optionsText: "RoleName",selectPicker: true, optionsValue: RoleID, value:SelectedRole,event:{ change: $root.GetLocationByCityID }' multiple="multiple"></select>*@
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <label for="lblOptionValue">Value Name</label>
                                    <input type="text" class="form-control" id="txtValueName" placeholder="Enter Description" maxlength="50" data-bind="value:ValueName">

                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
                                <div class="form-group">
                                    <label for="lblIsActive">Is Active <span class="mandatory">*</span></label>
                                    <input type="checkbox" class="form-control check margin-top-10" data-bind="checked: IsValueActive" />
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 pull-right">


                                <button class="btn btn-primary pull-right margin-top-25 " data-bind="click:clearAttributeValue" id="btnResetAttribute">Reset</button>
                                <button class="btn btn-primary pull-right margin-top-25 margin-right-10" data-bind="click:NextSKU" id="btnNextSKU">Next</button>
                                <button class="btn btn-primary pull-right margin-top-25 margin-right-10" data-bind="click:saveAttributeValue" id="saveAttributeValue">Save</button>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-responsive table-hover" style="display:table; width:100%;">
                            <thead style="border-top:none !important;border-bottom:2px solid #0094ff !important; width:100%;">
                                <tr>
                                    <th style="border-top:none !important;"><h6><b>Serial No</b></h6></th>
                                    <th style="border-top:none !important;"><h6>Attribute Name</h6></th>

                                    <th style="border-top:none !important;"><h6>Value Name</h6></th>

                                    <th style="border-top:none !important;"><h6>Is Active</h6></th>
                                    <th style="border-top:none !important; text-align:center;" colspan="2"><h6>Action</h6></th>

                                </tr>
                            </thead>
                            <tbody data-bind="foreach: AttributeValueArray" style="width:100%;">
                                <tr>
                                    <td>
                                        <span data-bind="text:($index() + 1)" />
                                    </td>
                                    <td>
                                        <span data-bind="text:OptionName" class="text-capitalize"></span>
                                    </td>
                                    <td>
                                        <span data-bind="text:ValueName" class="text-capitalize"></span>
                                    </td>

                                    <td>
                                        <span data-bind="text:IsValueActive==true?'Yes':'No'" class="text-capitalize"></span>
                                    </td>

                                    <td>
                                        <a class="btn btn-primary bg-red-btn pull-right" data-bind="click:$root.UpdateOptionValue">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary bg-red-btn pull-left" data-bind="click:$root.NextSKU">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane container fade" id="SKU">
                    <div class="card-body">
                        
                        <div id="divSKU"></div>
                        <div id="divHidden"></div>
                        <div class="row">
                            <span id="spnProductID"></span>
                            <span id="spnSKUID"></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<script src="~/js/Products.js"></script>




