@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon icon" href="~/dist/images/nepal-govt.png">
    <title>Inventory Management System</title>


    @*CSS LINK*@

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" />

    @*JS LINK*@
    
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/js/knockout-3.4.2.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

</head>

<body>
    @RenderBody()

</body>
</html>

